.slider__item {
    max-width: 100%;
    height: 650px;
}

.slider__item-1 {
    background: linear-gradient(rgb(33, 33, 33, 0.5), #212121), url(../../../assets/images/slider-images/slider-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider__item-2 {
    background: linear-gradient(rgb(33, 33, 33, 0.5), #212121), url(../../../assets/images/slider-images/slider-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider__item-3 {
    background: linear-gradient(rgb(33, 33, 33, 0.5), #212121), url(../../../assets/images/slider-images/slider-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__slider {
    overflow: hidden;
}

.slider__content {
    padding-top: 70px;
}

.slider__content h1 {
    font-size: 3.2rem;
    font-weight: 600;
}