:root {
    --main-color: #212121;
    --main-highlight-color: #fc9898;
    --main-text-color: #fff;
    --section-description: #757575;
  }

.slider__item {
    max-width: 100%;
    height: 650px;
}

.slider__item-1 {
    background: linear-gradient(rgb(33, 33, 33, 0.5), #212121), url(../../../assets/images/slider-images/slider-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider__item-2 {
    background: linear-gradient(rgb(33, 33, 33, 0.5), #212121), url(../../../assets/images/slider-images/slider-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider__item-3 {
    background: linear-gradient(rgb(33, 33, 33, 0.5), #212121), url(../../../assets/images/slider-images/slider-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__slider {
    overflow: hidden;
}

.slider__content {
    padding-top: 100px;
}

.slider__content h1 {
    font-size: 3.2rem;
    font-weight: 600;
}

.reserve__btn {
    background: var(--main-text-color) !important;
    color: var(--main-color);
    border: 1px solid var(--main-color) !important;
    outline: none;

}

.reserve__btn a {
    text-decoration: none;
    font-weight: 600;
}