.find__cars-left {
    background: linear-gradient(rgba(104, 57, 17, 0.8), rgb(249, 138, 38, 0.9)), url(../../../assets/images/find-your-car-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 65px 35px;
    color: #fff;
}

.find__cars-left h2 {
    font-weight: 600;
    font-size: 2.8rem;
    color: #fff;
}

.form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background: #fff;
    padding: 25px 0 20px 15px;
}

.form__group {
    width: 100%;
    margin-bottom: 0;
}

.form__group input {
    border: 1px solid #7c8a972a;
    padding: 8px 12px;
    outline: none;
    width: 100%;
    
}

.select__group {
    width: 100%;
}

.select__group select {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #7c8a972a;
    outline: none;
    color: #7c8a97;
}

.hero__slider-section {
    position: relative;
    z-index: 10;
    margin-bottom: 200px;
}

.hero__form {
    position: absolute;
    bottom: -150px;
    z-index: 11;
    width: 100%;
}

.form__row {
    background: #fff;
    box-shadow: 5px 5px 15px -5px #7c8a97;
}

.find__car-btn {
    background: #000d6b !important;
    color: #fff !important;
    padding: 8px 15px;
    width: 100%;
    border: none;
    outline: none;
}