:root {
    --main-color: #212121;
    --main-highlight-color: #fc9898;
    --main-text-color: #fff;
    --section-description: #757575;
  }

.find__cars-left {
    background: linear-gradient(rgba(104, 17, 17, 0.8), rgba(107, 100, 94, 0.9)), url(../../../assets/images/find-your-car-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 65px 35px;
    color: var(--main-text-color);
}

.find__cars-left h2 {
    font-weight: 600;
    font-size: 2.8rem;
    color: var(--main-text-color);
}

.form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background: var(--main-text-color);
    padding: 25px 0 20px 15px;
}

.form__group {
    width: 100%;
    margin-bottom: 0;
}

.form__group input {
    border: 1px solid var(--main-color);
    padding: 8px 12px;
    outline: none;
    width: 100%;
    
}

.select__group {
    width: 100%;
}

.select__group select {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid var(--main-color);
    outline: none;
    color: var(--section-description);
}

.hero__slider-section {
    position: relative;
    z-index: 10;
    margin-bottom: 200px;
}

.hero__form {
    position: absolute;
    bottom: -150px;
    z-index: 11;
    width: 100%;
}

.form__row {
    background: var(--main-text-color);
    box-shadow: 5px 5px 15px -5px var(--section-description);
}

.find__car-btn {
    background: var(--main-color) !important;
    color: var(--main-text-color) !important;
    padding: 8px 15px;
    width: 100%;
    border: none;
    outline: none;
}