:root {
    --main-color: #414040;
    --main-highlight-color: #ff4949;
    --main-text-color: #fff;
    --section-description: #9a9a9a;
  }

.contact__from-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact__form-container {
    display: flex;
    flex-direction: column;
}

.contact__form input, .contact__form textarea {
    width: 100%;
    border-radius: 5px;
}

.social__link-icon {
    text-decoration: none;
    color: var(--main-color);
    font-weight: 500;
    font-size: 1.2rem;
}

.contact__btn {
    padding: 7px 15px;
    background: var(--main-color) !important;
    color: var(--main-text-color);
    border: none;
    outline: none;
    border-radius: 5px;
}

.social__link-icon {
    margin-right: 10px;
}

@media only screen and (max-width: 768px) {
    .contact__btn {
        margin-bottom: 40px;
        font-size: 0.8rem;
    }

    .contact__form-container {
        justify-content: center;
        max-width: 80%;
        margin: auto;
    }

    .contact__btn {
    margin: 0 auto 40px;
}

h6, p {
    text-align: center;
}
    
}