:root {
    --main-color: #212121;
    --main-highlight-color: #fc9898;
    --main-text-color: #fff;
    --section-description: #757575;
  }

.blog {
    text-decoration: none;
  }

.blog h4 {
    color: var(--main-color);
}

.blog__item {
    border: 1px solid var(--section-description);
    border-radius: 10px;
}

.blog__item img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.blog__info {
    padding: 20px;
}

.blog__tag {
    border-top: 1px solid var(--main-color);
    display: flex;
    flex-direction: column;
}

.blog__tag span i {
    color: var(--main-highlight-color);
}

.blog__author {
    color: var(--main-color);
    font-weight: 600;
    padding-top: 10px;
}

.blog__author i  {
    font-weight: 500;
}

