.header__top {
    padding: 10px 0;
    background: var(--main-color);
    color: var(--main-text-color);
    display: flex;
    justify-content: space-between;
}
  
  .header__top__right a {
    text-decoration: none;
    color: var(--main-text-color);
    font-size: 0.9rem;
  }
  
  .header__top__right a:hover {
    color: var(--main-text-color);
  }

  .header__middle {
    padding: 10px 0;
  }

  .header__middle-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .logo h1 a {
    display: flex;
    align-items: center;
  }

  .logo h1 a div {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 15px;
  }

  .logo h1 a span {
    font-size: 2rem;
  }

  .logo h1 a img {
    width: 100px;
  }

  .logo h1 a {
    text-decoration: none;
    color: var(--main-color);
    font-weight: 700;
  }

  .logo h1 {
    line-height: 1.5rem;
  }

  .header__location {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .header__location span i {
    font-size: 2.2rem;
    color: var(--main-highlight-color);
  }

  .header__location-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__location-content h4 {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--main-color);
  }

  .header__location-content h6 {
    font-weight: 600;
  }

  .header__btn {
    background: var(--main-highlight-color) !important;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
  }

  .header__btn a {
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
    text-decoration: none;
    color: var(--main-text-color);
    justify-content: end;
  }

  .header__btn a:hover {
    opacity: 75%;
  }

  .navigation__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .main__navbar {
    padding: 15px 0;
    background: var(--main-color);
  }

  .mobile__menu i {
    color: var(--main-text-color);
    font-size: 1.3rem;
    cursor: pointer;
  }

  .mobile__menu {
    display: none;
  }

  .menu {
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
  }

  .nav__item {
    color: var(--main-text-color);
    text-decoration: none;
    transition: 0.3s;
  }

  .nav__item:hover {
    color: var(--main-highlight-color);
  }

  .search__box {
    border: 1px solid var(--section-description);
    padding: 7px 12px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    background: var(--main-color);
  }

  .search__box input {
    background: transparent;
    border: none;
    outline: none;
    color: var(--main-text-color);
    cursor: pointer;
  }

  .search__box span i {
    color: var(--main-text-color);
    cursor: pointer;
  }

  @media only screen and (max-width: 768px) {
    .header__top,
    .header__middle,
    .nav__right {
      display: none;
    }
  
    .mobile__menu {
      display: block;
    }
  
    .navigation {
      background: var(--main-color);
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;
      display: none;
    }
  
    .menu {
      width: 250px;
      height: 100%;
      background: var(--main-text-color);
      display: flex;
      align-items: center;
      flex-direction: column;
      row-gap: 2rem;
      justify-content: center;
    }
  
    .menu a {
      color: var(--main-color);
      font-weight: 600;
      font-size: 0.9rem;
    }
  
    .menu__active {
      display: block;
    }
  }

  @media only screen and (max-width: 768px) {

    .header__top, .header__middle, .nav__right {
      display: none;
    }

    .mobile__menu {
      display: block;
    }

    .navigation {
      background: var(--main-color);
      width: 100%;
      height: 100%;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 100;
    }

    .menu {
      width: 250px;
      height: 100%;
      background: var(--main-text-color);
      display: flex;
      align-items: center;
      flex-direction: column;
      row-gap: 2rem;
    }
    
    .menu a {
      color: var(--main-color);
      font-weight: 600;
      font-size: 0.9rem;
    }
  }