
.common__section {
    background: linear-gradient(rgba(255, 0, 0, 0.7), rgba(255, 0, 0, 0.7));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 0px;
}