:root {
    --main-color: #414040;
    --main-highlight-color: #ff4949;
    --main-text-color: #fff;
    --section-description: #9a9a9a;
  }

.about__section-item {
    column-gap: 3rem;
}

.about__section-item p i {
    color: var(--main-highlight-color);
    font-size: 1.1rem;
}

.about__img img {
    width: 100%;
}